// ==========
// Variables
// ==========


// Fonts
// ==========

// Used for header text.
$h1-font-stack: 'Dosis', sans-serif;
$h2-font-stack: 'Dosis', sans-serif;
$h3-font-stack: 'Dosis', sans-serif;
$h4-font-stack: 'Dosis', sans-serif;
$h5-font-stack: 'Dosis', sans-serif;
$h6-font-stack: 'Dosis', sans-serif;

// Used for body text.
$body-font-stack: "Open Sans", sans-serif;


// Colors
// ==========

// Standard colors for text and backgrounds.
$white: #FFFCF0;
$black: #464655;
$gray: #f5f5f5;

// Special colors.
$accent: #6A60A9;
$accent-light: #DEDCEE;
$complement: #FBD14B;

$accent-gradient: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8));

$danger: #D0414D;
$warning: #ffe066;


// Magic Numbers (Layout and Style Defaults)
// ==========

// Standardized container width.
$container-width: 1120px;

// Breakpoints.
$desktop-breakpoint: 1200px;
$large-tablet-breakpoint: 992px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 576px;

// Keep box shadows standard when using them.
$standard-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2);

// Simple animation duration controller.
$standard-transition-duration: 0.5s;

// Baseline font and line-height.
$baseline-font-size: 14px;
$baseline-line-height: 1.5;  // Changed the line-height here as designers specs made it very hard to read body text.



// ==========
// Mixins
// ==========

// Adds a fix for very old firefox browsers that allow content to break out of their parent containers.
@mixin moz-border-box-fix{

	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



// ==========
// Global Styles
// ==========

body{

	// Optimize legibility for retina devices.
	-webkit-font-smoothing: antialiased !important;
   	text-rendering: optimizelegibility !important;

	// Force normal sizing rules.
	box-sizing: border-box;
	@include moz-border-box-fix;

	// Anchor the content container to the top left.
	position: relative;
	top: 0px;
	left: 0px;

	// Background color for the site.
	background: $accent-gradient, url('../img/food-mosaic.jpg');
	background-size: cover;
	background-position: center;

	// Fallback font.
	font-family: $body-font-stack;

	// Baseline font size and line height.
	font-size: $baseline-font-size;
	line-height: $baseline-line-height;

	// Primary text color.
	color: $white;

	p, .p{

		// Fallback font.
		font-family: $body-font-stack;

		// Body text is slightly larger than baseline.
		font-size: 1.125rem;
		line-height: 1.8;
	}

	// Styles for all links.
	a{

		color: $white;

		&:hover{

			color: $accent;
			text-decoration: none;
		}
	}

	// Make all image and video elements responsive naturally.
	img, video{	

		max-width: 100%;
	}

	// Colors all FontAwesome icons.
	svg{

		// Omitted.
	}
	
	// Site header styles.
	h1, h2, h3, h4, h5, h6{

		font-weight: bold;
	}

	// Header sizing specifications as per design (sizing specified in pt, I changed to px).
	h1, .h1{

		font-family: $h1-font-stack;
		font-size: 2.5rem;
		margin: 0.67em 0;

		// Helper class for larger h1 fonts when needed.
		&.hero{

			font-size: 3.5rem;
			line-height: 3.5rem;

			margin-bottom: 0.3em;
		}
	}

	h2, .h2{

		font-family: $h2-font-stack;
		font-size: 2rem;
		margin: 0.83em 0;
	}

	h3, .h3{

		font-family: $h3-font-stack;
		font-size: 1.375rem;
		margin: 1em 0;
	}

	h4, .h4{

		font-family: $h4-font-stack;
		font-size: 1.125rem;
		margin: 1.33em 0;
	}

	h5, .h5{

		font-family: $h5-font-stack;
		font-size: 1rem;
		margin: 1.67em 0;
	}

	h6, .h6{

		font-family: $h6-font-stack;
		font-size: 0.875rem;
		margin: 2.33em 0;
	}

	
	// Helper classes.
	// =====

	.accent{

		color: $accent;

		&:hover{

			color: $accent;
		}
	}

	.accent-bg{

		background-color: $accent;
	}

	.danger{

		color: $danger;
	}

	.danger-bg{

		background-color: $danger;
	}

	.opaque{

		opacity: 0.6;
	}

	// Restricts the width of a container if it contains body text of sorts.
	.readability-normalize{

		max-width: 650px;
	}

	.fancy-highlight{

		position: relative;

		&::before{

			content: '';

			position: absolute;
			left: 0px;
			bottom: 15px;

			z-index: -1;

			height: 22px;
			width: 100%;

			border-radius: 5px;

			background-color: $complement;
			opacity: 0.8;
		}
	}


	// Buttons
	// ==========

	.button{

		display: inline-block;
		min-width: 200px;

		height: 50px;
		line-height: 50px;

		text-align: center;
		text-decoration: none;

		font-family: $h1-font-stack;
		font-weight: bold;
		font-size: 18px;

		border-radius: 25px;

		background-color: $accent;

		// Transition box shadows, tranforms, colors, and background colors.
		transition: transform $standard-transition-duration, box-shadow $standard-transition-duration, color $standard-transition-duration, background-color $standard-transition-duration;

		svg{

			margin-left: 5px;
		}

		&:hover{

			color: $white;
		}

		// Special button that floats when you hover over it.
		&.hover-button{

			margin-top: 10px;

			&:hover{

				transform: translateY(-2px);
				box-shadow: $standard-box-shadow;
			}
		}

		// The special CTA button on the site.
		&.cta-button{

			background-color: $complement;
		}
	}
}


// Location Widget
// ==========

.location-widget{

	position: absolute;
	right: 0px;

	min-width: 250px !important;

	background-color: $accent;

	svg{

		position: absolute;
		right: 0px;

	}
}



// ==========
// Layout Styles
// ==========

// Controls the SimpleGrid container width.
.container{

	max-width: $container-width;
}

#main{

	margin-top: 175px;
}



// ==========
// Navigation Styles
// ==========

nav.navbar{

	font-family: $h1-font-stack;

	padding-top: 25px;

	a{

		text-decoration: none;
		line-height: 50px;
		color: $white;

		margin: 0px;

		&.branding{

			svg{

				margin-right: 10px;
			}
		}

		&.button{

			float: right;
			padding: 0 25px;

			opacity: 0.8;

			transition: opacity $standard-transition-duration;

			&:hover{

				opacity: 1.0;
			}
		}

		&:hover{

			color: $white;
		}
	}

	ul.navigation{

		list-style: none;
		margin: 0px;
		padding: 0px;

		text-align: right;

		li{

			display: inline-block;

			&:not(:last-child){

				margin-right: 25px;
			}
		}
	}
}



// ==========
// Theming 
// ==========

// Coming soon.



// ==========
// Component Styles
// ==========

// Coming soon.



// ==========
// Homepage Styles
// ==========

#app.home{

	#main{

		a.cta-button{

			// Adds a special margin to the primary CTA on the homepage.
			margin-top: 80px;
		}
	}
}