body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 0px;
  left: 0px;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/food-mosaic-blurred.jpg");
  background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/food-mosaic-blurred.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFCF0; }
  body p, body .p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.8; }
  body a {
    color: #FFFCF0; }
    body a:hover {
      color: #6A60A9;
      text-decoration: none; }
  body img, body video {
    max-width: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: bold; }
  body h1, body .h1 {
    font-family: "Dosis", sans-serif;
    font-size: 2.5rem;
    margin: 0.67em 0; }
    body h1.hero, body .h1.hero {
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-bottom: 0.3em; }
  body h2, body .h2 {
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    margin: 0.83em 0; }
  body h3, body .h3 {
    font-family: "Dosis", sans-serif;
    font-size: 1.375rem;
    margin: 1em 0; }
  body h4, body .h4 {
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    margin: 1.33em 0; }
  body h5, body .h5 {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    margin: 1.67em 0; }
  body h6, body .h6 {
    font-family: "Dosis", sans-serif;
    font-size: 0.875rem;
    margin: 2.33em 0; }
  body .accent {
    color: #6A60A9; }
    body .accent:hover {
      color: #6A60A9; }
  body .accent-bg {
    background-color: #6A60A9; }
  body .danger {
    color: #D0414D; }
  body .danger-bg {
    background-color: #D0414D; }
  body .opaque {
    opacity: 0.6; }
  body .readability-normalize {
    max-width: 650px; }
  body .fancy-highlight {
    position: relative; }
    body .fancy-highlight::before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 15px;
      z-index: -1;
      height: 22px;
      width: 100%;
      border-radius: 5px;
      background-color: #FBD14B;
      opacity: 0.8; }
  body .button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    background-color: #6A60A9;
    -webkit-transition: color 0.5s, background-color 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: color 0.5s, background-color 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, color 0.5s, background-color 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, color 0.5s, background-color 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s; }
    body .button svg {
      margin-left: 5px; }
    body .button:hover {
      color: #FFFCF0; }
    body .button.hover-button {
      margin-top: 10px; }
      body .button.hover-button:hover {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2); }
    body .button.cta-button {
      background-color: #FBD14B; }

.location-widget {
  position: absolute;
  right: 0px;
  min-width: 250px !important;
  background-color: #6A60A9; }
  .location-widget svg {
    position: absolute;
    right: 0px; }

.container {
  max-width: 1120px; }

#main {
  margin-top: 175px; }

nav.navbar {
  font-family: "Dosis", sans-serif;
  padding-top: 25px; }
  nav.navbar a {
    text-decoration: none;
    line-height: 50px;
    color: #FFFCF0;
    margin: 0px; }
    nav.navbar a.branding {
      font-weight: bold; }
      nav.navbar a.branding svg {
        margin-right: 10px;
        color: #FBD14B; }
    nav.navbar a.button {
      float: right;
      padding: 0 25px;
      opacity: 0.8;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      nav.navbar a.button:hover {
        opacity: 1.0; }
    nav.navbar a:hover {
      color: #FFFCF0; }
  nav.navbar ul.navigation {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: right; }
    nav.navbar ul.navigation li {
      display: inline-block; }
      nav.navbar ul.navigation li:not(:last-child) {
        margin-right: 25px; }

#app.home #main a.cta-button {
  margin-top: 80px; }
