@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes blinking {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0.8; } }

@keyframes blinking {
  0% {
    opacity: 0.8; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 0.8; } }

html, body {
  overflow: hidden; }

body {
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FBD14B;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFCF0; }
  body p, body .p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.8;
    opacity: 0.8; }
    body p.tag, body .p.tag {
      -webkit-transform: translateX(-25px);
      transform: translateX(-25px);
      margin-bottom: 5px; }
      body p.tag svg, body .p.tag svg {
        color: #FBD14B;
        margin-right: 10px; }
  body a {
    color: #FFFCF0; }
    body a:hover {
      color: #6A60A9;
      text-decoration: none; }
  body img, body video {
    max-width: 100%; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: bold; }
  body h1, body .h1 {
    font-family: "Dosis", sans-serif;
    font-size: 2.5rem;
    margin: 0.67em 0; }
    body h1.hero, body .h1.hero {
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-bottom: 0.3em; }
  body h2, body .h2 {
    font-family: "Dosis", sans-serif;
    font-size: 2rem;
    margin: 0.83em 0; }
  body h3, body .h3 {
    font-family: "Dosis", sans-serif;
    font-size: 1.375rem;
    margin: 1em 0; }
  body h4, body .h4 {
    font-family: "Dosis", sans-serif;
    font-size: 1.125rem;
    margin: 1.33em 0; }
  body h5, body .h5 {
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    margin: 1.67em 0; }
  body h6, body .h6 {
    font-family: "Dosis", sans-serif;
    font-size: 0.875rem;
    margin: 2.33em 0; }
  body .accent {
    color: #6A60A9; }
    body .accent:hover {
      color: #6A60A9; }
  body .accent-bg {
    background-color: #6A60A9; }
  body .danger {
    color: #D0414D; }
  body .danger-bg {
    background-color: #D0414D; }
  body .opaque {
    opacity: 0.6; }
  body .readability-normalize {
    max-width: 650px; }
  body .fancy-highlight {
    position: relative; }
    body .fancy-highlight::before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 15px;
      z-index: -1;
      height: 22px;
      width: 100%;
      border-radius: 5px;
      background-color: #FBD14B;
      opacity: 0.8; }
  body .rotating {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite; }
  body .blinking {
    -webkit-animation: blinking 2s linear infinite;
    animation: blinking 2s linear infinite; }
  body ul.stars {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px; }
    body ul.stars li {
      display: inline-block;
      margin-right: 3px; }
      body ul.stars li svg {
        color: #FBD14B; }
  body .fadein {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    body .fadein.active {
      opacity: 0.8;
      pointer-events: all; }
  body .button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    background-color: #6A60A9;
    -webkit-transition: color 0.5s, background-color 0.5s, min-width 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: color 0.5s, background-color 0.5s, min-width 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, color 0.5s, background-color 0.5s, min-width 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, color 0.5s, background-color 0.5s, min-width 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s; }
    body .button svg {
      margin-left: 5px; }
    body .button:hover {
      color: #FFFCF0; }
    body .button.hover-button {
      margin-top: 10px; }
      body .button.hover-button:hover {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.2); }
    body .button.cta-button {
      background-color: #FBD14B; }

.location-widget {
  position: absolute;
  right: 0px;
  min-width: 250px !important;
  background-color: #6A60A9; }
  .location-widget svg {
    position: absolute;
    right: 0px; }

.container {
  max-width: 1120px; }

#main .container {
  padding-top: 250px; }

@media screen and (max-width: 768px) {
  #main .container {
    padding-top: 75px; }
  .row div[class*="col"]:not(.col-sm) {
    width: 100%;
    max-width: 100%; } }

@media screen and (max-width: 576px) {
  .row div[class*="col"] {
    width: 100%;
    max-width: 100%; } }

.section {
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: 0px; }
  .section.spin {
    left: calc(-100% - 100px); }

nav.navbar {
  font-family: "Dosis", sans-serif;
  padding-top: 25px;
  position: absolute;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 2; }
  nav.navbar.active {
    opacity: 1.0; }
  nav.navbar a {
    text-decoration: none;
    line-height: 50px;
    color: #FFFCF0;
    margin: 0px; }
    nav.navbar a.branding {
      font-weight: bold; }
      nav.navbar a.branding svg {
        margin-right: 10px;
        color: #FBD14B; }
      nav.navbar a.branding:hover {
        color: #FBD14B; }
    nav.navbar a.button {
      float: right;
      padding: 0 25px;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
      opacity: 0.4; }
      nav.navbar a.button.active {
        opacity: 0.8; }
    nav.navbar a:hover {
      color: #FFFCF0; }
  nav.navbar ul.navigation {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: right; }
    nav.navbar ul.navigation li {
      display: inline-block; }
      nav.navbar ul.navigation li:not(:last-child) {
        margin-right: 25px; }
  @media screen and (max-width: 576px) {
    nav.navbar .branding span.text {
      display: none; } }

.dish-container {
  overflow: scroll;
  height: 500px; }
  .dish-container .dish-item {
    background-color: #6A60A9;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 25px;
    opacity: 0.8; }
    .dish-container .dish-item h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline-block;
      vertical-align: middle; }
      .dish-container .dish-item h3 svg {
        color: #FBD14B;
        margin-left: 10px; }
    .dish-container .dish-item ul.stars {
      vertical-align: middle;
      margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .dish-container {
      padding-bottom: 100px;
      height: 300px; } }

#app .home {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/food-mosaic-blurred.jpg");
  background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/food-mosaic-blurred.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh; }
  #app .home#main {
    z-index: 1;
    position: relative; }
    #app .home#main a.cta-button {
      margin-top: 80px; }
      #app .home#main a.cta-button svg {
        margin-left: 9px;
        margin-right: 5px; }
    #app .home#main #loading-indicator {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
      display: inline-block; }
    #app .home#main .notification {
      display: inline-block;
      margin-left: 20px;
      font-size: 1.0rem; }
  @media screen and (max-width: 576px) {
    #app .home#main a.cta-button {
      margin-top: 20px; } }

#roulette-view {
  position: relative;
  left: 0px;
  max-width: 100vw;
  height: 100vh;
  -webkit-transition: left ease-in-out 5s;
  transition: left ease-in-out 5s; }
  #roulette-view.spin {
    left: calc(-100% - 100px); }
  #roulette-view.spin-2 {
    left: calc(-200% - 200px); }

#roulette-options .section.single {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/hollandaise.jpg");
  background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/hollandaise.jpg");
  background-size: cover !important;
  background-position: center !important;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: calc(100% + 100px);
  top: 0px; }
  #roulette-options .section.single:nth-child(1) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/eggs.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/eggs.jpg"); }
  #roulette-options .section.single:nth-child(2n) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/hollandaise.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/hollandaise.jpg"); }
  #roulette-options .section.single:nth-child(3n) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/omelete.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/omelete.jpg"); }
  #roulette-options .section.single:nth-child(4n) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/sausages.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/sausages.jpg"); }
  #roulette-options .section.single:nth-child(5n) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/strawberries.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/strawberries.jpg"); }
  #roulette-options .section.single:nth-child(6n) {
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(106, 96, 169, 0.8)), to(rgba(206, 159, 252, 0.8))), url("../img/tomatoes.jpg");
    background: linear-gradient(bottom right, rgba(106, 96, 169, 0.8), rgba(206, 159, 252, 0.8)), url("../img/tomatoes.jpg"); }
  #roulette-options .section.single .container {
    padding-top: 250px; }
    #roulette-options .section.single .container h2.hero {
      margin-bottom: 10px;
      margin-top: 0px; }
    #roulette-options .section.single .container a.tag {
      display: block;
      text-decoration: none;
      margin-bottom: 10px; }
      #roulette-options .section.single .container a.tag:hover {
        color: #FBD14B; }
    #roulette-options .section.single .container .review-count {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0px;
      margin-bottom: 0px; }
    #roulette-options .section.single .container .controls {
      margin-top: 80px; }
      #roulette-options .section.single .container .controls a {
        text-decoration: none; }
        #roulette-options .section.single .container .controls a svg {
          margin-left: 0px;
          margin-right: 5px; }
        #roulette-options .section.single .container .controls a:not(.cta-button) {
          margin-left: 25px;
          opacity: 0.8; }
          #roulette-options .section.single .container .controls a:not(.cta-button):hover {
            color: #FFFCF0;
            opacity: 1.0; }
  @media screen and (max-width: 768px) {
    #roulette-options .section.single .container {
      padding-top: 175px; } }
